/* style.css */
body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Cor de fundo opcional */
    font-family: 'Kdam Thmor Pro', sans-serif;
  }

  #banner {
    background-image: url('https://pbs.twimg.com/media/FBwJWeQXIAItfyH.jpg:large');
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
}
  
.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Espaço entre o cabeçalho e o formulário */
    padding: 20px; /* Espaçamento interno do formulário */
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco com transparência */
    border-radius: 10px;
    background-image: url('https://www.1zoom.me/big2/23/123432-aleni.jpg'); /* Substitua pelo caminho correto da sua imagem */
    background-size: cover; /* Ajusta o tamanho da imagem de fundo */
    background-position: center; /* Centraliza a imagem de fundo */
  }
  h1 {
    background-color: transparent; /* Remove o fundo preto, se houver */
    color: #D21617; /* Define a cor do texto do h1 */
    font-size: 24px; /* Tamanho da fonte */
    text-align: center; /* Alinhamento central do texto */
    margin-bottom: 20px; /* Espaçamento inferior */
  }

  label {
    background-color: rgba(0, 0, 0, 0.055); /* Fundo transparente */
    color: white; /* Cor do texto nas labels */
    font-size: 16px; /* Tamanho da fonte */
    padding: 5px; /* Espaçamento interno */
    border-radius: 5px; /* Borda arredondada */
    margin-bottom: 10px; /* Espaço vertical entre as labels */
  }
  
  input {
    border-radius: 5px;
    border: 1px solid gray;
    height: 25px;
    width: 300px;
    padding: 5px;
    background-color: white; /* Define o fundo como branco */
    color: gray; /* Define a cor do texto como preto */
  }
  
  button {
    width: 300px;
    height: 40px;
    background-color: aquamarine;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  
  img {
    max-width: 100px;
  }
  .TransparentForm {
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha value to control transparency */
    border: none; /* Optional: Remove border */
  }
  
  /* Additional styling for form elements if needed */
  .TransparentForm label,
  .TransparentForm input,
  .TransparentForm textarea,
  .TransparentForm button {
    background-color: transparent;
    border: none; /* Optional: Remove border */
  }