@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}

span {
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;  
}

nav {
    width: 60%;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Logo {
    width: 144px;
    height: auto;
}
.footer-navigation {
    display: none;
    background-color: #000;
    padding: 10px;
}

.footer-navigation li {
    margin-bottom: 10px;
}

.footer-navigation li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.footer-navigation li a:hover {
    color: #d21617;
}



